.header {
    
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    background-color: #FFDD17;
    height: 50px;
    align-items: center;
 
}

.hero {
    display:flex;
    flex-direction: row;
    height:250px;
    align-items: center;
    justify-content:space-evenly;
    color: white;
 
}

.sfa1 {
    scale: 22%;
    margin: -300px;
}
 
#year {
    color:white;
    font-family: 'roboto';
    font-weight: bold;
    font-size: 20;
}


body {
    background-image: url(https://images.unsplash.com/photo-1596746953133-f49de4877fdf?q=80&w=2396&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    font-family:'Roboto', sans-serif;
    background-repeat: repeat;
}

.flex1 {
      
      display: flex;
      justify-content:space-around;
      flex-direction: column;
      flex-wrap: wrap;
      margin: 3%;
      padding: 5%;
}

h1 {
    font-size: 55px;
    text-decoration: underline;
    color: white;
    padding-left: 17%;
}

.tree {
    padding-left: 19%; 
}

.flex12 {
    display: flex;
    flex-direction:column;
    flex-wrap:wrap;
    font-size: 30px;
    color: white;
    padding-right: 1%;
}


.grid {
    display: grid;
    grid-template-columns:200px 200px 200px 200px 200px;
    grid-template-rows:200px 200px 200px 200px 200px; 
    row-gap: 2%;
    column-gap: 3%;
    margin-left: 4%;
    margin-top: 8%;
}

.move{
   padding-right: 27%; 
}

.adjust {
    font-style: bold;
    font-size: 40px;
    padding-left: 40%;
    text-decoration: underline;
    color: white;
    margin-top: -40%;
}

.overflow {
    padding-left: 25%;
    padding-bottom: 10%;
    overflow: auto;
    width: 50%;
    height: 50%;
    color: white;
    font-size: 100%;
}

.tutorial {
    margin: 15%;
    padding-left: 8%;
    display: flex;
    flex-direction: column;

}

.img {
    padding-left: 10%;
    padding-top: 20px;
}

.tutlist {
    display:flex;
    color: white;
    font-size: 30px;
}

.tt3 {
    display: flex;
    
}

.new {
    display: grid;
    color: white;
    font-size: 200%;
    border: white;

}

.p {
    font-size: 100%;
    color: white;  
}


.collage {
     display:grid;
     grid-template-columns: 30% 30% 30%;
     grid-template-rows: 30% 30% 30%;
     row-gap: 5%;
     column-gap: 5%;
}

 




