body {
    background-image: url(./fpimages/Stars-vertical-repeating.jpg);
    
}

.header {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'roboto';
    font-weight: bold;
    color: #11193F;
    background-color: #FFDD17;
    height: 50px;
    align-items: center;
 
}
 
.hero {
    display:flex;
    flex-direction: row;
    height:250px;
    align-items: center;
    justify-content:space-evenly;
}
 
.sfa1 {
    scale: 22%;
    margin: -300px;
}
 
#year {
    color:white;
    font-family: 'roboto';
    font-weight: bold;
    font-size: 20;
}

.City {
    width: 100%;
}

h1 {
    color: white;
    font-size: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

h2 {
    color: white;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h4 {
    color: white;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.Introduction {
    width: 50%;
    padding: 1%;
}

.Posters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.TLMR {
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
}

.Tickets {
    width: 40%;
    padding: 1%;
    border-radius: 25px;
    background-color: rgb(30, 12, 74); 
}

.Map {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Arcade {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.Late {
    border-radius: 25px;
    background-color: rgb(138, 72, 18);
    height: 400px;
    width: 44%;
    padding: 1%;
}

@media screen and (max-width: 1000px) {
    .TLMR {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .Tickets {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .Map {
        width: 100%;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

.Introductionback {
    height: 700px;
    width: 100%;
    background-image: url('https://th.bing.com/th/id/R.423fb85c3005aebf73beb6c8cede9015?rik=ceyGuk7bQtoEug&riu=http%3a%2f%2f3.bp.blogspot.com%2f-aUwCwvmDGUw%2fT1L-LjC8NDI%2fAAAAAAAAE98%2fBqkaSdUJfnA%2fs1600%2fmcquarrie001.jpg&ehk=6m7a5Fz5G3fNeMOUpQ1IQnQA8GytCeEsN1Ipp1LaU50%3d&risl=&pid=ImgRaw&r=0');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.Introductiontxt {
    width: 35%;
    padding: 1%;
   
}

.tutvid {
    display: flex;
    justify-content:space-around;
}

@media screen and (max-width: 1000px) {
    .tutvid {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .Posters {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
}